services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: frontend
    restart: always
    ports:
      - 38004:5173
    volumes:
      - ./:/app
      - /app/node_modules

networks:
    quizwiz-network:
        external: true
