.btn {
  padding: 0.9rem 1.2rem;
  border-radius: 2rem;
  font-size: 1.4rem;

  &--primary {
    background-color: $color-primary--dark;
    color: $color-secondary--light;
    font-weight: bold;

    &:hover {
      background-color: $color-primary--dark;
      color: $color-secondary--light;
    }
  }

  &--secondary {
    background-color: $color-secondary--light;
    color: $color-primary--dark;

    &:hover {
      background-color: $color-secondary--light;
      color: $color-primary--dark;
    }
  }
}