.quiz-list-container {
  width: 100%;
  margin-top: 2rem;
}

.quiz-list {
  &__title {
    font-size: 3.5rem;
    font-weight: bold;
    font-style: italic;
    border-bottom: 1px solid $color-primary--dark;
    color: $color-primary--dark;
  }

  &__quizzes {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}