.quiz {
  width: 100%;
  border: 2px solid $color-primary--dark;
  border-radius: 2.5rem;
  padding: 2.2rem 2rem;
  color: $color-secondary--light;
  font-size: 1.4rem;
  box-shadow: 0 0 2rem 1px $color-primary--dark;
  position: relative;
  overflow: hidden;
  background: $bg-noise;
  background-size: cover;
  cursor: pointer;

  &__main-info {
    & > * {
      margin-bottom: 0;
    }
    
    &__title {
      font-size: 3rem;
      font-weight: bold;
      font-style: italic;
    }

    &__author {
      display: flex;
      gap: 0.3rem;

      &__link {
        color: $color-secondary--light;
      }
    }

    &__description {
      margin-top: 1rem;
    }
  }

  &__secondary-info {
    margin-top: 2rem;
    padding-top: 2.2rem;
    border-top: 1px solid $color-secondary--light;
    display: flex;
    align-items: center;
    gap: 3rem;

    &__num-questions {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 0.4rem;

      &__icon {
        font-size: 2rem;
      }
    }

    &__tags-container {
      display: flex;
      gap: 0.5rem;
    }
  }
}