.layout-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}