.searchbar {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  gap: 0.5rem;

  &__input {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: $color-primary--dark;
    border: 2px solid $color-primary--dark;
    border-radius: 5rem;
  }

  &__btn {
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5rem;
    color: $color-secondary--light;
    background: $bg-noise;
    background-size: cover;
  }

  & > *:hover,
  & > *:focus {
    outline: none;
  }
}