.nav {
  padding: 1rem;
  background-color: $color-primary--dark;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 2rem;

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__text {
      font-size: 3rem;
      font-weight: bold;
      font-style: italic;
      color: $color-secondary--light;
      margin-bottom: 0;
    }
  }

  &__items {
    display: flex;
    gap: 0.5rem;
  }

  &__item {
    color: $color-secondary--light;

    &:hover {
      color: $color-secondary--light;
    }
  }

  &__account-actions {
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;

    &-container {
      display: flex;
      gap: 1rem;  
    }

    &__signup {
      display: inline-block;
      padding: 0.3rem 1rem !important;
      border-radius: 2rem;
      background-color: $color-secondary--light;
      color: $color-primary--dark;

      &:hover {
        color: $color-primary--dark;
      }
    }
  }
}

.navbar-toggler {
  border: none;
  padding: 0;
  
  &:focus {
    box-shadow: none;
  }
}