$color-primary--dark: #3F2D77;
$color-primary--medium: #5D408C;
$color-primary--dark--light: #7173B5;
$color-secondary--dark: #F5C670;
$color-secondary--light: #FAF5EB;

$font--primary: "Merriweather", serif;