$color-primary--dark: #3F2D77;
$color-primary--medium: #5D408C;
$color-primary--light: #7173B5;
$color-secondary--dark: #F5C670;
$color-secondary--light: #f8f0df;

$font--primary: "Merriweather", serif;

$box-shadow--bottom: 0 0.1rem 1.3rem 0.1rem #000; 